<!DOCTYPE html>
<html lang="en">
<!-- ******* HEAD ******* -->
    <%- include("../partials/head.ejs") %>
<!-- ****************** -->
<body class="container-fluid blogIndexBody">
    <!-- ********* PASSING DATA INTO VIEWS NOTES ******** -->
    <!-- EJS COMMENT TAG IS: <%# %> -->
    <!--   EJS TAG EXAMPLE: <%# const name = "Johnny" %>   -->
    <!--   ^^^ WILL RUN AS JS, BUT ON THE FRONT END, IT WILL DO SO ON THE SERVER -->
    <!--   WHEN OUTPUTTING A VALUE TO THE SCREEN, YOU NEED = SIGN: (SEE TITLE EXAMPLE) -->

<!-- ******** NAVBAR PARTIAL ******** -->

<!-- FOR PARTIALS MUST USE includes() FUNCTION -->
<!-- MINUS SIGN DOESNT ESCAPE SPECIAL CHARACTERS AND = DOES SO WITH = WE END UP A STRING VALUE. -->
<%- include("../partials/nav.ejs") %>

<!-- ******************************** -->


    <div class="blogs content row">
        <h2>All Blogs</h2>
        <!-- CONDITIONAL USING EJS SYNTAX EAMPLE:  -->
            <% if (blogs.length > 0) { %>
            <% blogs.forEach((blog) => { %>

<!--                <a class="single" href="/blogs/<%= blog._id %>">    -->
<!--                <h3 class="title"><%= blog.title %></h3>-->
<!--                <p class="snippet"><%= blog.snippet %></p>-->
<!--                </a>-->


                <div class="card row" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.snippet %></p>
                        <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Blog Details</a>
                    </div>
                </div>

            <% }) %>    <!-- NEED TO CLOSE OFF forEach() -->
            <% } else { %> 
                 <p>There are no Blogs...</p>
            <% } %>     <!-- NEED TO CLOSE OFF IF STATMENT CONDITIONAL -->

    </div>
    <!-- ******* FOOTER INCLUDING BOOTSTRAP JS ******* -->
    <%- include("../partials/footer.ejs") %>
    <!-- ********************** -->
</body>
</html>